procurement-api/.dockerignore
procurement-api/node_modules
procurement-fe/.dockerignore
procurement-fe/node_modules
procurement-api/.temp
procurement-api/.env
procurement-fe/.temp
procurement-fe/.env
npm-debug.log
node_modules
Dockerfile
dist
.git
.env