PORT=[port_number]
JWT_SECRET=[your_jwt_secret]
DATABASE_URL=postgresql://[user]:[password]@postgres:5432/procurement
POSTGRES_USER=[postgres_user]
POSTGRES_PASSWORD=[postgres_password]
POSTGRES_DB=[database_name]
PGADMIN_DEFAULT_EMAIL: [admin@example.com]
PGADMIN_DEFAULT_PASSWORD: [pgadmin_password]


